@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", sans-serif;
}

.pretendard {
  font-family: "Pretendard Variable", sans-serif;
}

.archivo {
  font-family: "Archivo Narrow", sans-serif;
}
